<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form name="form2" id="insertMsg" accept-charset="utf-8"  action="/insertMsg" method="post">
<li>
    <label for="title"  class="input-tips2">标题：</label>
    <div class="inputOuter2">
        <input type="text" id="title" name="title" maxlength="16" class="inputstyle2"/>
    </div>
</li>

    <li>
        <label for="content"  class="input-tips2">内容：</label>
        <div class="inputOuter2">
            <textarea type="text" id="content" name="content" maxlength="50" width="100" class="inputstyle2"></textarea>
        </div>
    </li>
    <li>
        <div class="inputArea">
            <input type="submit" id="insert"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="确定添加"/>
        </div>
    </li><div class="cl"></div>


</form>
</body>
</html>