<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/login1" name="loginfrom" accept-charset="utf-8" method="post">
        <label class="label-tips" for="u">账号:</label>
        <input type="text" id="u" name="username" class="inputstyle"/>
        <div>
            <label class="label-tips" for="password">密码:</label>
            <input type="password" id="password" name="password" class="inputstyle" />
        </div>
        <input type="submit" name="login" value="登录"/>
        <a href="register.html" class="zcxy" target="_blank">注册</a>
    </form>
</body>
</html>