<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">

    <tr th:each="text: ${texts}">
        <th th:text="${text.id}"></th>
        <td th:text="${text.title}"></td>

        <div>
        <td th:text="${text.content}"></td>
        </div>
        </tr>

</div>


<h5>评论区</h5>
<div class="panel-body">


    <tr th:each="comment: ${comments}">
       <div>
        评论： <td th:text="${comment.comment}"></td>

       </div>

        <div>
            评论人： <td th:text="${comment.username}"></td>
       </div>

    </tr>
</div>

<form th:action="MakeComment" method="post">
<div>
    <textarea id="comment" name="comment" ></textarea><input id="put" type="submit" value="评论" />
</div>

</form>

</body>
</html>