<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>注册</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        var countdown=60;
        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttribute("disabled");
                obj.value="免费获取验证码";
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                obj.value="重新发送(" + countdown + ")";
                countdown--;
            }
            setTimeout(function() {
                        settime(obj) }
                    ,1000)
        }
        var code; //在全局 定义验证码
        function createCode() {
            code = "";
            var codeLength = 6;//验证码的长度
            var checkCode = document.getElementById("checkCode");
            var selectChar = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');//所有候选组成验证码的字符，当然也可以用中文的


                var charIndex = Math.floor(Math.random() * 36);
                code += selectChar[charIndex];
            var charIndex = Math.floor(Math.random() * 36);
            code += selectChar[charIndex];var charIndex = Math.floor(Math.random() * 36);
            code += selectChar[charIndex];var charIndex = Math.floor(Math.random() * 36);
            code += selectChar[charIndex];var charIndex = Math.floor(Math.random() * 36);
            code += selectChar[charIndex];var charIndex = Math.floor(Math.random() * 36);
            code += selectChar[charIndex];

            //alert(code);
            if (checkCode) {
                checkCode.className = "code";
                checkCode.value = code;
            }
        }

        function validate() {
            var inputCode = document.getElementById("input1").value;
            if (inputCode.length == 0) {
                alert("请输入验证码！");
            } else if (inputCode != code) {
                alert("验证码输入错误！");
                createCode();//刷新验证码
            } else {
                alert("验证码输入正确");
            }
        }

    </script>
</head>
<body onload="createCode()">
<div class="web_login">
    <form name="form2" id="regUser" accept-charset="utf-8"  action="/addregister" method="post">
        <ul class="reg_form" id="reg-ul">
            <div id="userCue" class="cue">注册</div>
            <li>
                <label for="username"  class="input-tips2">手机号码：</label>
                <div class="inputOuter2">
                    <input type="text" id="username" name="username" maxlength="16" class="inputstyle2"/>
                </div>
            </li>


            <li>
                <label for="password" class="input-tips2">密码：</label>
                <div class="inputOuter2">
                    <input type="password" id="password"  name="password" maxlength="16" class="inputstyle2"/>
                </div>
            </li>



            <li>
                <label for="password2" class="input-tips2">确认密码：</label>
                <div class="inputOuter2">
                    <input type="password" id="password2" name="password2" maxlength="16" class="inputstyle2" />
                </div>
            </li>

            <li>
                <label for="auth" class="input-tips2">验证码：</label>
                <div class="inputOuter2">
                    <input type="text" id="auth" name="auth" maxlength="16" class="inputstyle2"/><input type="button" id="btn" value="免费获取验证码" onclick="settime(this)" />
                </div>

            </li>
            <li>
                <form action="#">
                    <label for="input1" class="input-tips2">请输入图形验证码：</label>
                    <div><input type="text" id="input1" /> <input type="text" onclick="createCode()" readonly="readonly" id="checkCode" class="unchanged" style="width: 80px" />
                    <input id="Button1" onclick="validate();" type="button" value="确定" /></div>
                </form>
            </li>

            <li>
                <div class="inputArea">
                    <input type="submit" id="reg"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="同意协议并注册"/> <a href="#" class="zcxy" target="_blank">注册协议</a>
                </div>
            </li><div class="cl"></div>
        </ul>
    </form>
</div>
</body>
</html>